.container
  %h1 Projects:
  %ul
    %li
      %form{:action => 'http://www.howdourteamsdo.com', :name => 'post_53474218306ac059658250', :id => 'post_53474218306ac059658250', :style => 'display: none', :method => 'post'}
      %input{:type => 'hidden', :name => '_method', :value => 'POST'}
        %a{:href => '#', :onclick => 'document.post_53474218306ac059658250.submit(); event.returnValue = false; return false;'}How'd Our Teams Do
    %li
      %a{:href => 'http://thawing-shelf-3809.herokuapp.com/home', :target => '_blank'}Wino Log
  %br
#footer
  .container
    %p{:class => 'text-muted'}
      %a{:href => '/'}Home
      |
      %a{:href => '/logout'}Logout