<html>
	<head>
		<title><%= @title %></title>

		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="stylesheet" href="stylesheets/bootstrap.css">
		<link rel="stylesheet" href="stylesheets/custom.css">
	</head>
	<body>
		<div id="header" class="col-sm-12 text-center">
			<div class="nav">
				<li class="transition" title="home"><a href="#">HOME</a></li>
				<li class="transition" title="about"><a href="#">ABOUT</a></li>
				<li class="transition" title="projects"><a href="#">PROJECTS</a></li>
				<li class="transition" title="contact"><a href="#">CONTACT</a></li>
			</div>
		</div>

		<div id="home" class="col-sm-12 text-center content-section show">
				<h1 id="title">mays | io</h1>
				<p class="sub-title">DEVELOP SIMPLY</p>
		</div>

		<div id="about" class="col-sm-12 text-center content-section collapse">
			<h1>About</h1>
		</div>

		<div id="projects" class="col-sm-12 text-center content-section collapse">
			<h1>Projects</h1>
		</div>

		<div id="contact" class="col-sm-12 text-center content-section collapse">
			<h1>Contact</h1>
		</div>
		<script type="text/javascript" src="scripts/jquery-3.1.0.min.js"></script>
		<script type="text/javascript" src="scripts/jquery-ui-1.10.4.custom.min.js"></script>
		<script type="text/javascript" src="scripts/app.js"></script>
	</body>
</html>
