.container
  %p{:class => 'lead'}
    This is 
    %a{:href => 'https://www.linkedin.com/pub/zachary-mays/a/295/945', :target => '_blank'}my 
    personal site.  I mainly use it to keep track of 
    %a{:href => '/projects'}projects 
    I'm working on.