!!!
%html{:lang => 'en'}
  %head
    %meta{'http-equiv' => 'content-type', :content => 'text/html', :charset => 'utf-8'}
    %meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1'}
    %meta{:name => 'description', :content => ''}
    %meta{:name => 'author', :content => ''}
    /%link{:rel => 'shortcut icon', :href => 'http://getbootstrap.com/assets/ico/favicon.ico'}
    %title 
      = @title
    %link{:rel => "stylesheet", :href => "stylesheets/bootstrap.css"}
    %link{:rel => "stylesheet", :href => "stylesheets/signin.css"}
    %link{:rel => "stylesheet", :href => "stylesheets/my_styles.css"}
    %script{:type => "text/javascript", :src => "scripts/jquery.min.js"}
    %script{:type => "text/javascript", :src  => "scripts/my_scripts.js"}
  %body
    .jumbotron
      .container
    -if flash.success
      %div{:style => "color: green"}
        =flash.success
    -if flash.error
      %div{:style => "color: red"}
        =flash.error
    =yield        