.container
  -if session[:access]
    %h3 Projects:
    %ul
      %li
        %a{:href => 'http://www.howdourteamsdo.com', :target => '_blank'}How'd Our Teams Do
      %li
        %a{:href => 'http://thawing-shelf-3809.herokuapp.com/home', :target => '_blank'}Wino Log
      %li
        %form{:action => 'http://www.temp.flyingvines.com/', :name => 'post_53474218306ac059658250', :id => 'post_53474218306ac059658250', :style => 'display: none', :method => 'post'}
        %input{:type => 'hidden', :name => '_method', :value => 'POST'}
          %a{:href => '#', :onclick => 'document.post_53474218306ac059658250.submit(); event.returnValue = false; return false;'}Sample Site
    %br
  -else
    %p{:class => 'lead'}
      All my projects are currently private.
      %a{:href => '/login'}Log in
      to view them.