.container
  %h1 Projects:
  %ul
    %li
      %a{:href => 'http://www.howdourteamsdo.com', :target => '_blank'}How'd Our Teams Do
    %li
      %a{:href => 'http://thawing-shelf-3809.herokuapp.com/home', :target => '_blank'}Wino Log
  %br