.container
  -if session[:access]
    %h3 Projects:
    %ul
      %li
        %a{:href => 'http://www.howdourteamsdo.com', :target => '_blank'}How'd Our Teams Do
      %li
        %a{:href => 'http://thawing-shelf-3809.herokuapp.com/home', :target => '_blank'}Wino Log
      %li
        %a{:href => 'http://www.temp.flyingvines.com/', :target => '_blank'}Sample Site
      %li
        %a{:href => '/redesign'}Site Redesign Project
    %br
  -else
    %p{:class => 'lead'}
      All my projects are currently private.
      %a{:href => '/login'}Log in
      to view them.