<html>
	<head>
		<title><%= @title %></title>
		<link rel="stylesheet" href="stylesheets/bootstrap.css">
		<link rel="stylesheet" href="stylesheets/custom.css">
	</head>
	<body>
		<div id="header" class="col-sm-12 text-center">
			<h1 id="title">mays | io</h1>
			<p class="sub-title">SITE REDESIGN PROJECT</p>
		</div>
	</body>
</html>
