<html>
	<head>
		<title><%= @title %></title>
		<link rel="stylesheet" href="stylesheets/bootstrap.css">
	</head>
	<body>
		<div class="container">
			<h1>Redesign 2 Page</h1>
		</div>
	</body>
</html>
