!!!
%html{:lang => 'en'}
  %head
    %meta{'http-equiv' => 'content-type', :content => 'text/html', :charset => 'utf-8'}
    %meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1'}
    %meta{:name => 'description', :content => ''}
    %meta{:name => 'author', :content => ''}
    /%link{:rel => 'shortcut icon', :href => 'http://getbootstrap.com/assets/ico/favicon.ico'}
    %title 
      = @title
    %link{:rel => "stylesheet", :href => "stylesheets/bootstrap.css"}
    %link{:rel => "stylesheet", :href => "stylesheets/signin.css"}
    %link{:rel => "stylesheet", :href => "stylesheets/my_styles.css"}
    %link{:rel => "stylesheet", :href => "stylesheets/jquery-ui.min.css"}
    %script{:type => "text/javascript", :src => "scripts/jquery.min.js"}
    %script{:type => "text/javascript", :src => "scripts/jquery-ui-1.10.4.custom.min.js"}
    %script{:type => "text/javascript", :src => "https://www.google.com/jsapi"}
    %script{:type => "text/javascript", :src  => "scripts/my_scripts.js"}
  %body
    %a{:name => 'home'}
    %div{:class => 'col-sm-12 center-block main_panel', :id => 'home_panel'}
      %h1{:class => 'col-md-12 centered_div'}mays (i / o)
      %div{:class => 'col-sm-10 center-block'}
        %div{:id => 'panel1Link', :class => 'col-md-offset-2 col-md-5'}
          %div{:class => 'panel panel-primary'}
            /%a{:href => '#education', :class => 'panel-body'}"it is a miracle that curiosity survives formal education"
            %div{:class => 'panel-body'}"it is a miracle that curiosity survives formal education"
        %div{:id => 'panel2Link', :class => 'col-md-5'}
          %div{:class => 'panel panel-primary'}
            /%a{:href => '#travel', :class => 'panel-body'}"if the world’s at large, why should i remain?"
            %div{:class => 'panel-body'}"if the world’s at large, why should i remain?"
      %div{:class => 'col-sm-10 center-block'}
        %div{:id => 'panel3Link', :class => 'col-md-offset-2 col-md-5'}
          %div{:class => 'panel panel-primary'}
            /%a{:href => '#music', :class => 'panel-body'}"play it fucking loud"
            %div{:class => 'panel-body'}"play it fucking loud"
        %div{:id => 'panel4Link', :class => 'col-md-5'}
          %div{:class => 'panel panel-primary'}
            /%a{:href => '#wine', :class => 'panel-body'}"the road of excess leads to the palace of wisdom"
            %div{:class => 'panel-body'}"the road of excess leads to the palace of wisdom"
    %div{:class => 'col-sm-12 center-block main_panel', :id => 'skills'}
      %hr
      %p &nbsp
      %a{:name => 'skills'}
      %p &nbsp
      %img{:src => "images/arrow.jpg", :class => 'homeLink'}
      %p{:class => 'lead'}This panel will talk about my skills (chart added as a placeholder).
      %p &nbsp
      %p{:class => 'lead'}Programming Skills:
      %hr
      :javascript
        google.load("visualization", "1", {packages:["corechart"]});
        google.setOnLoadCallback(drawChart);
        function drawChart() {
          var dataTable = new google.visualization.DataTable();
          dataTable.addColumn('string', 'Language');
          dataTable.addColumn('number', 'Hours');
          dataTable.addRows([
            ['JavaScript', 4],
            ['Ruby', 5],
            ['Python', 2],
            ['HTML / CSS', 4],
            ['PHP', 5]
          ]);

          var options = {
            title: 'Languages',
            is3D: true,
            pieSliceText: 'label',
            tooltip: { trigger: 'none' },
            legend: 'none'
          };

          var chart = new google.visualization.PieChart(document.getElementById('piechart'));
          
          function selectHandler() {
            var selectedItem = chart.getSelection()[0];
            if (selectedItem) {
              var value = dataTable.getValue(selectedItem.row, 0);
              //alert('The user selected ' + value);
              $(".skill_list").hide();
              if(value == 'PHP') {
                $("#php_skills").fadeToggle();
              } else if(value == 'Ruby') {
                $("#ruby_skills").fadeToggle();
              } else if(value == 'Python') {
                $("#python_skills").fadeToggle();
              } else if(value == 'HTML / CSS') {
                $("#front_end_skills").fadeToggle();
              } else if(value == 'JavaScript') {
                $("#js_skills").fadeToggle();
              }
            }
          }

          google.visualization.events.addListener(chart, 'select', selectHandler);
          chart.draw(dataTable, options);
        }
      %div{:id => "piechart"}
      #programming_skills
        %ul{:id => "php_skills", :class => "skill_list"}
          %li CakePHP
        %ul{:id => "ruby_skills", :class => "skill_list"}
          %li Ruby on Rails
          %li Sinatra
        %ul{:id => "python_skills", :class => "skill_list"}
          %li Flask
        %ul{:id => "front_end_skills", :class => "skill_list"}
          %li HTML5
          %li CSS3
          %li HAML
          %li SASS
        %ul{:id => "js_skills", :class => "skill_list"}
          %li JQuery
          %li Ember.js
          %li Backbone.js
          %li Node.js
    %div{:class => 'col-sm-12 center-block main_panel', :id => 'travel'}
      %hr
      %p &nbsp
      %a{:name => 'travel'}
      %p &nbsp
      %img{:src => "images/arrow.jpg", :class => 'homeLink'}
      %p{:class => 'lead'}This panel will have travel information / photos (maybe).
    %div{:class => 'col-sm-12 center-block main_panel', :id => 'music'}
      %hr
      %p &nbsp
      %a{:name => 'music'}
      %p &nbsp
      %img{:src => "images/arrow.jpg", :class => 'homeLink'}
      %p{:class => 'lead'}This panel will contain information about music I listen to (maybe am listening too).
    %div{:class => 'col-sm-12 center-block main_panel', :id => 'wine'}
      %hr
      %p &nbsp
      %a{:name => 'wine'}
      %p &nbsp
      %img{:src => "images/arrow.jpg", :class => 'homeLink'}
      %p{:class => 'lead'}
        This panel will talk about my love for wine, with a link to my blog (
        %a{:href => 'http://decantingmesoftly.com/', :target => '_blank'}like this
        ).

    %div{:id => 'panel1Content', :class => 'searchBox', :title => '"it is a miracle that curiosity survives formal education"'}
      %p This is going to be content about my skills.

    %div{:id => 'panel2Content', :class => 'searchBox', :title => '"if the world’s at large, why should i remain?"'}
      %p This is going to be a description of my travels.

    %div{:id => 'panel3Content', :class => 'searchBox', :title => '"play it fucking loud"'}
      %p This will be about the music I listen to.

    %div{:id => 'panel4Content', :class => 'searchBox', :title => '"the road of excess leads to the palace of wisdom"'}
      %p This will be primarily about wine.




