.container
  -if session[:message]
    %p{:class => 'lead'}
      Username and/or password incorrect. Please
      %a{:href => '/login'}try again.
  -else
    %p{:class => 'lead'}
      You must be logged in to view this page. 
      %a{:href => '/login'}Log in
      to continue.
    %p{:class => 'lead'}
      Return 
      = succeed '.' do
        %a{:href=> '/'} home    
