.centered_div
  %p{:class => 'lead'}
    You must be logged in to view this page. 
    %a{:href => '/login'}Log in
    to continue.
  %p{:class => 'lead'}
    Return 
    = succeed '.' do
      %a{:href=> '/'} home    
