@import 'https://fonts.googleapis.com/css?family=Roboto';

@font-face {
	font-family: "DanielBold";
	src: url('/fonts/DanielBold/DanielBold.eot');
	src: url('/fonts/DanielBold/DanielBold.woff') format('woff'),
		 url('/fonts/DanielBold/DanielBold.ttf') format('truetype'),
		 url('/fonts/DanielBold/DanielBold.svg#webfont') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "DanielBlack";
	src: url('/fonts/DanielBlack/DanielBlack.eot');
	src: url('/fonts/DanielBlack/DanielBlack.woff') format('woff'),
		 url('/fonts/DanielBlack/DanielBlack.ttf') format('truetype'),
		 url('/fonts/DanielBlack/DanielBlack.svg#webfont') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Fofer";
	src: url('/fonts/Fofer/Fofer.eot');
	src: url('/fonts/Fofer/Fofer.woff') format('woff'),
		 url('/fonts/Fofer/Fofer.ttf') format('truetype'),
		 url('/fonts/Fofer/Fofer.svg#webfont') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "OpenSans";
	src: url('/fonts/OpenSans/OpenSans.eot');
	src: url('/fonts/OpenSans/OpenSans.woff') format('woff'),
		 url('/fonts/OpenSans/OpenSans.ttf') format('truetype'),
		 url('/fonts/OpenSans/OpenSans.svg#webfont') format('svg');
	font-weight: normal;
	font-style: normal;
}

#header {
	background: url('/background_image_large.jpg') no-repeat center center;
	height: 800px;
	margin: 0px;
}

h1 {
	margin-top: 280px;
	font-family: 'DanielBlack';
	font-size: 72px;
}

h2 {
	margin-top: 100px;
	font-family: 'DanielBlack';
}

h3 {
	font-family: 'OpenSans', sans-serif;
}

p {
	font-family: 'Roboto', sans-serif;
}

.nav li {
	font-family: 'OpenSans', sans-serif;
	display: inline-block;
	z-index: 1;
}

.nav li a {
	color: #fff;
}

.nav li a:hover, a:focus {
	background: transparent none repeat scroll 0 0;
}

.sub-title {
	font-family: 'OpenSans', sans-serif;
	font-size: 18px;
	margin-top: 30px;
}

.content-section {
	position: absolute;
	height:100%;
	width:100%;
	top: 0px;
}

.project-panel {
	margin-top: 30px;
	height: 400px;
}

#project1, #project2 {
	/*background: url('/background_image_large.jpg') no-repeat center center;*/
	height: 300px;
}

#project1, #project2:hover {
	cursor: pointer;
}