.centered_div {
	text-align: center;
  padding-top: 20px;
}

.centered_div p {
	padding-top: 30px;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.text-muted {
  margin: 20px 0;
}

#name_headline {
  position: absolute;
}
#name_headline a {
  color: black;
}
#name_headline a:hover {
  text-decoration: none;
}

.headline_div {
  height: 80px;
}

.headline_menu {
  margin-top: 15px;
}